<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
</head>
<body>
<h2>列表</h2>
{% if allbook %}
    {% for book in allbook %}
        <ul>
            {# <!--<li><a href="/booktest/detail/{{ book.id }}">{{ book.title }}</a></li>--> #}
            <li><a href="{% url 'booktest:detail' book.id %}">{{ book.title }}</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'booktest:deletebook' book.id %}">删除</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'booktest:bookupdate' book.id %}">修改</a></li>
        </ul>
    {% empty %}
        没有收到
    {% endfor %}
{% else %}
    没有书籍
{% endif %}
<p><a href="{% url 'booktest:addbook' %}">添加书籍</a></p>
<!--<p><a href="/booktest/index/">返回首页</a></p>-->
<p><a href="{% url 'booktest:index' %}">返回首页</a></p>
</body>
</html>